<div class="home-container">
    <div class="caixa-home">
        <h1 class="titulo">Vagas reais para Mulheres reais.</h1>
        <p class="conteudo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <button type="button" class="btn quero-participar">Quero participar</button>
    </div>
</div>

<hw-bloco [imagemPrimeiro]="true"></hw-bloco>
<hw-bloco [imagemPrimeiro]="false"></hw-bloco>