<footer class="rodapePrincipal">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 class="row">Sobre Power Lady</h4>
                <a class="row item-footer" href="#">Sobre nós</a>
                <a class="row item-footer" href="#">Fale conosco</a>
                <a class="row item-footer" href="#">Conquistas</a>
            </div>

            <div class="col-sm">
                <h4 class="row">Nosso Conteúdo</h4>
                <a class="row item-footer" href="#">Blog</a>
                <a class="row item-footer" href="#">Lista Vip</a>
            </div>

            <div class="col-sm">
                <h4 class="row">Empresas Parceiras</h4>
                <a class="row item-footer" href="#">Lista de Empresas</a>
                <a class="row item-footer botao-quero-ser" href="#">Quero ser uma Empresa Parceira</a>
            </div>
        </div>
    </div>
</footer>