<section class="parte-2">
    <div class="container" [ngClass]="{'imagemPrimeiroClass' : imagemPrimeiro}">
        <div class="parte-2-conteudo">
            <h2 class="titulo-conteudo">
                {{ tituloBloco }}
            </h2>
            <p class="conteudo-parte-2">
                {{ texto }}
            </p>
        </div>
        <div class="bloco-imagem">
            <hw-imagem 
                [caminho]="caminhoImagem"
                [descricao]="descricaoImagem">
            </hw-imagem>
        </div>
    </div>
</section>