<nav class="navbar navbar-expand-lg">
    <div class="ml-4">
        <img class="logo" src="../../../assets/img/header/Logo.svg" alt="Logo">
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav justify-content-end menu-end">
            <a class="nav-link text-white item-menu" href="#">Home<span class="sr-only">(current)</span></a>
            <a class="nav-link text-white item-menu" href="#">Como Funciona?</a>
            <a class="nav-link text-white item-menu" href="#">Aulas</a>
            <a class="nav-link text-white item-menu" href="#">Cadastrar</a>
            <button type="button" class="btn login">Login</button>
        </div>
    </div>
</nav>